Source: tvnao
Maintainer: blaze <blaze@vivaldi.net>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3, debhelper (>= 11), python-minimal, python-setuptools
Standards-Version: 4.5.0
Homepage: https://launchpad.net/tvnao

Package: tvnao
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 python3-pyqt5, mpv | mplayer
Description: Open IPTV list manager
 A convenience utility meant to improve IPTV
 watching experience with mpv player.
 Written in Python 3 and PyQt. Supports only
 \.m3u playlists and JTV tv guide format.
